.top-navigation {
    background: #fff;
    filter:
    progid:DXImageTransform.Microsoft.Shadow(color='#042b47', Direction=45, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#042b47', Direction=135, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#042b47', Direction=225, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#042b47', Direction=315, Strength=3);
    top: -12px;
    left: -12px;
    zoom: 1;
}
main form .form_item input[type="radio"] {
    position: static !important;
}